swagger: '2.0'
info:
  version: v2
  title: 配置管理工具
  description: 配置管理工具
  contact:
    name: 云霁科技
    email: tangtianyun@idcos.com
host: dcoscfg.stable.idcos.net:8012
schemes:
  - http
basePath: /api/v2
consumes:
  - application/json
produces:
  - application/json
tags:
  - name: apply
    description: 配置实施/查询配置实施结果
  - name: common
    description: 通用配置
    
    
    
paths:
  /configuration/apply:
    post:
      tags:
        - apply
      summary: 对指定ID的部署单元进行配置实施
      description: |
        根据指定的部署单元ID解析出部署单元下所有的主机，并对这些主机异步地发送执行的命令（源于配置），如`puppet agent -t`，然后返回一个任务ID列表。任务ID列表中的每个ID，代表`每台主机执行命令`的一个任务。
      parameters:
        - name: jsonInBody
          in: body
          schema:
            type: object
            properties:
              unitID:
                description: 部署单元ID
                type: string
                required: true
      responses:
        200:
          description: 返回指定部署单元下所有主机执行命令的任务ID列表。
          schema:
            $ref: '#/definitions/ApplyConfigResp'
          
    

  /configuration/apply/view:
    post:
      tags:
        - apply
      summary: 根据配置实施任务ID列表查询配置实施结果
      description: |
        若指定ID的实施操作未完成，则该实施结果不包含在响应的结果中，此种情况下，更合理的方式就是对未返回结果的实施操作继续*轮询*接口，直至超时（调用方自身设定的超时时间）或者配置实施结果全部返回为止。
      parameters:
        - name: jsonInBody
          in: body
          schema:
            type: object
            properties:
              taskIDs:
                description: 未完成配置实施任务的ID列表
                type: array
                items:
                  type: string
                  uniqueItems: true
          description: HTTP Body中的json格式的数据。
          required: true
      responses:
        200:
          description: 返回指定配置实施任务ID列表中已完成的配置实施结果列表。
          schema:
            $ref: '#/definitions/ApplyConfigResultsResp'
            
            
       
       
  /common-configuration:
    post:
      tags:
        - common
      summary: 创建通用配置
      description: 创建一个通用配置，并将其保存到 CMDB
      parameters:
        - name: jsonInBody
          description: HTTP Body中的json格式的数据。
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                description: 通用配置项名称
                type: string
              cmConfJson:
                description: 通用配置JSON结构(内容不固定)
                type: object
          
      responses:
        200:
          description: 通用配置创建结果
          schema:
            $ref: '#/definitions/ChangeCommonConfigResp'
          
    put:
      tags:
        - common
      summary: 更新通用配置
      description: 更新一个通用配置，并将更新结果其保存到 CMDB
      parameters:
        - name: jsonInBody
          description: HTTP Body中的json格式的数据。
          required: true
          in: body
          schema:
            type: object
            properties:
              id:
                description: 通用配置ID
                type: string
              name:
                description: 通用配置项名称
                type: string
              cmConfJson:
                description: 通用配置JSON结构(内容不固定)
                type: object
          
      responses:
        200:
          description: 通用配置更新结果
          schema:
            $ref: '#/definitions/ChangeCommonConfigResp'
          
    get:
      tags:
        - common
      summary: 查询通用配置分页列表
      description: 查询通用配置分页列表
      parameters:
        - name: page
          description: 当前分页页号(自`1`始)
          required: false
          type: integer
          in: query
          default: 1
          minimum: 1
          
          
        - name: count
          description: 分页大小(条目数)
          required: false
          type: integer
          in: query
          default: 20
          minimum: 1
          maximum: 100
          
        - name: name
          description: 通用配置名称(可模糊查询)
          required: false
          type: string
          in: query
          
      responses:
        200:
          description: 获取通用配置
          schema:
            $ref: '#/definitions/GetCommonConfigPageResp'
        
        
  /common-configuration/{id}:    
    get:
      tags:
        - common
      summary: 获取通用配置
      description: 分页获取通用配置
      parameters:
        - name: id
          type: string
          required: true
          in: path
          
      responses:
        200:
          description: 获取通用配置
          schema:
            $ref: '#/definitions/GetCommonConfigResp'
            
    delete:
      tags:
        - common
      summary: 删除一个通用配置
      description: 根据ID删除通用配置
      parameters:
        - name: id
          type: string
          required: true
          in: path
          
      responses:
        200:
          description: 删除通用配置结果
          schema:
            $ref: '#/definitions/ChangeCommonConfigResp'
          


definitions:
  ApplyConfigResp:
    description: 配置实施响应对象。
    type: object
    properties: 
      status:
        type: string
        description: 状态值
        enum: ["success", "error"]
      message:
        type: string
        description: 响应描述
      content:
        type: object
        description: 响应具体内容对象
        properties:
          taskIDs:
            type: array
            description: 配置实施任务ID列表
            items:
              type: string
  ApplyConfigResultsResp:
    description: 查询配置实施结果响应对象。
    type: object
    properties: 
      status:
        type: string
        description: 状态值
        enum: ["success", "error"]
      message:
        type: string
        description: 响应描述
      content:
        type: object
        description: 响应具体内容对象
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                taskID:
                  type: string
                  description: 配置实施任务ID
                nodeName:
                  type: string
                  description: 实施配置的目标主机名称
                exitcode:
                  type: integer
                  description: 配置实施操作的退出码
                output:
                  type: string
                  description: 配置实施操作的输出信息
  ChangeCommonConfigResp:
    type: object
    properties: 
      status:
        type: string
      message:
        type: string
      content:
        type: object
        properties:
          id:
            type: string
            description: 通用配置ID
  GetCommonConfigPageResp:
    type: object
    properties: 
      status:
        type: string
        description: 状态值
        enum: ["success", "error"]
      message:
        type: string
        description: 响应描述
      content:
        type: object
        description: 响应具体内容对象
        properties:
          page:
            type: integer
            description: 分页页号
          count:
            type: integer
            description: 分页大小
          total:
            type: integer
            description: 总记录数
          results:
            type: array
            description: 通过配置分页列表
            items:
              type: object
              properties:
                id:
                  type: string
                  description: 通用配置ID
                name:
                  type: string
                  description: 通用配置名称
                cmConfJson:
                  description: 通用配置JSON结构(内容不固定)
                  type: object
  GetCommonConfigResp:
    type: object
    properties: 
      status:
        type: string
        description: 状态值
        enum: ["success", "error"]
      message:
        type: string
        description: 响应描述
      content:
        type: object
        description: 响应具体内容对象
        properties:
          id:
            type: string
            description: 通用配置ID
          name:
            type: string
            description: 通用配置名称
          cmConfJson:
            description: 通用配置JSON结构(内容不固定)
            type: object
          
            

                
                  
                
              
            
        